<a href="https://colab.research.google.com/github/CSheppardCodes/Scholastic-Study-of-Machine-Learning/blob/main/SGDRegressorHousingDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

use library
  1. install
  2. load

In [ ]:
!pip install pandas
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.datasets import load_boston
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler

import dataset

In [ ]:
from sklearn.datasets import fetch_california_housing

In [ ]:
california_housing = fetch_california_housing(as_frame=True) # loading built in dataset

In [ ]:
type(california_housing) #

sklearn.utils.Bunch

In [ ]:
df = california_housing.frame

In [ ]:
df.shape # numrows/numcolumns

(20640, 9)

In [ ]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [ ]:
print(california_housing.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

An household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surpinsingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [ ]:
df = california_housing.frame
X = df.drop(['MedHouseVal', 'Latitude', 'Longitude', 'Population'], axis = 1)

In [ ]:
Y = df['MedHouseVal']

In [ ]:
X.describe

<bound method NDFrame.describe of        MedInc  HouseAge  AveRooms  AveBedrms  AveOccup
0      8.3252      41.0  6.984127   1.023810  2.555556
1      8.3014      21.0  6.238137   0.971880  2.109842
2      7.2574      52.0  8.288136   1.073446  2.802260
3      5.6431      52.0  5.817352   1.073059  2.547945
4      3.8462      52.0  6.281853   1.081081  2.181467
...       ...       ...       ...        ...       ...
20635  1.5603      25.0  5.045455   1.133333  2.560606
20636  2.5568      18.0  6.114035   1.315789  3.122807
20637  1.7000      17.0  5.205543   1.120092  2.325635
20638  1.8672      18.0  5.329513   1.171920  2.123209
20639  2.3886      16.0  5.254717   1.162264  2.616981

[20640 rows x 5 columns]>

Standardize the data # w1 * (10) + w2 * (1200) 1200 will dominate

In [ ]:
s = StandardScaler()
X = pd.DataFrame(s.fit(X).fit_transform(X), columns = X.columns)

In [ ]:
X

         MedInc  HouseAge  AveRooms  AveBedrms  AveOccup
0      2.344766  0.982143  0.628559  -0.153758 -0.049597
1      2.332238 -0.607019  0.327041  -0.263336 -0.092512
2      1.782699  1.856182  1.155620  -0.049016 -0.025843
3      0.932968  1.856182  0.156966  -0.049833 -0.050329
4     -0.012881  1.856182  0.344711  -0.032906 -0.085616
...         ...       ...       ...        ...       ...
20635 -1.216128 -0.289187 -0.155023   0.077354 -0.049110
20636 -0.691593 -0.845393  0.276881   0.462365  0.005021
20637 -1.142593 -0.924851 -0.090318   0.049414 -0.071735
20638 -1.054583 -0.845393 -0.040211   0.158778 -0.091225
20639 -0.780129 -1.004309 -0.070443   0.138403 -0.043682

[20640 rows x 5 columns]

In [ ]:
X.describe()

             MedInc      HouseAge      AveRooms     AveBedrms      AveOccup
count  2.064000e+04  2.064000e+04  2.064000e+04  2.064000e+04  2.064000e+04
mean   6.609700e-17  5.508083e-18  6.609700e-17 -1.060306e-16  3.442552e-18
std    1.000024e+00  1.000024e+00  1.000024e+00  1.000024e+00  1.000024e+00
min   -1.774299e+00 -2.196180e+00 -1.852319e+00 -1.610768e+00 -2.290000e-01
25%   -6.881186e-01 -8.453931e-01 -3.994496e-01 -1.911716e-01 -6.171062e-02
50%   -1.767951e-01  2.864572e-02 -8.078489e-02 -1.010650e-01 -2.431585e-02
75%    4.593063e-01  6.643103e-01  2.519615e-01  6.015869e-03  2.037453e-02
max    5.858286e+00  1.856182e+00  5.516324e+01  6.957171e+01  1.194191e+02

create a regression model
don't cheat, split train test
construct with train
tested on test

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)

print(X_train.shape) # 80% rows, col
print(X_test.shape) # 20% rows, col
print(Y_train.shape)
print(Y_test.shape)

(16512, 5)
(4128, 5)
(16512,)
(4128,)

put a ? to look up documentation

In [ ]:
?train_test_split

In [ ]:
type(X_train)

pandas.core.frame.DataFrame

max_iter = run for so many iterations

alpha = learning rate

In [ ]:
model = SGDRegressor(alpha=0.0000001, eta0=0.001, max_iter = 10000000, tol = 0.000001)

In [ ]:
model.fit(X_train, Y_train)

SGDRegressor(alpha=1e-07, eta0=0.001, max_iter=10000000, tol=1e-06)

In [ ]:
# model evaluation for training set
y_train_predict = model.predict(X_train)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))
r2 = r2_score(Y_train, y_train_predict)

In [ ]:
model.coef_

array([ 0.99535662,  0.19881801, -0.46095494,  0.41867048, -0.05023844])

In [ ]:
model.intercept_

array([2.06598415])

model = price = -162.4 + -1.34e2 * medinc + 6.77 * houseage + 5.9e1 averooms +-1.6e2*aveoccup

using gradient desent so crasy results every time

In [ ]:
# dom variable
# model evaluation for training set
y_train_predict = model.predict(X_train)
rmse = (np.sqrt(mean_squared_error(Y_train, y_train_predict)))
r2 = r2_score(Y_train, y_train_predict)

In [ ]:
print("The model performance for training set")
print("--------------------------------------")
print('RMSE is {}'.format(rmse))
print('R2 score is {}'.format(r2))
print("\n")

The model performance for training set
--------------------------------------
RMSE is 0.7819103437913036
R2 score is 0.5366227184516082

limit of gradient descent:
 if hyper parameters
 (learning rate, alpha, iterations)